<div id="order-new">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 content">
          <h2 class="title">New order</h2>
          <%= simple_form_for @order do |f| %>
            <%= f.input :title %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => false } %>
            <%= f.label :attachment %>
            <%= f.file_field :attachment, class: "attachment" %>
            <%= f.button :submit, class: "btn btn-default submit" %>
          <% end %>

          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-arrow-left") + "Back", root_path %>
      </div>
    </div>
  </div>
</div>